[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "==7.0"
pushbullet-py = "==0.11.0"
keyring = "==16.0.0"
keyrings-alt = "==3.1"


[dev-packages]

bumpversion = "==0.5.3"
pytest = "==3.9.3"
pytest-xdist = "==1.24.0"
pytest-cov = "==2.6.0"
pytest-mock = "==1.10.0"
pytest-regressions = "==1.0.4"
yapf = "==0.24.0"
isort = "==4.3.4"
pathlib2 = "*"
codecov = "*"
invoke = "*"
pre-commit = "*"
pylint = "*"
